<button phx-click="reset">Reset</button>
<button phx-click="tick">Tick</button>
<div class="world">
  <%= for {_pid, {tile,_x, _y}} <- @world do %>
    <div class="<%= tile %>"></div>
  <% end %>
</div>
